<%- include("partials/header.ejs")%>

<body class="wrapper" onload="alert('Welcome! This blogging Site is a capstone Project during my learning Jounery in a udemy web development Course')">
  <div class="container container_blog">
    <div class="section">
      <div>
        <img src="/images/Anonymous.png" alt="blogging" />
      </div>
      <div>
        <h1>The Power of Anonymous Expression</h1>
        <p>
         Your words are powerful, and your voice deserves to be heard. Our platform gives you the freedom to share your thoughts,
          stories, and ideas with the world without revealing who you are. This is a space where your content stands on its own, 
          free from judgment or bias. Discover the liberating power of anonymous blogging and see how your words can make an impact.
        </p>
      </div>
    </div>
    <div class="section">
      <div>
        <img src="/images/createing.png" alt="createing" />
      </div>
      <div>
        <h1>Create & Share Your Ideas</h1>
        <p>
          "Ready to write? Our clean and simple editor makes it easy to turn your ideas into a polished blog post.
           We've built a platform that allows you to focus purely on your message, so you can share your unique perspective with a global audience.
            Whether it's a personal story, a passionate opinion, or a creative piece, this is your space to create, edit, and publish your thoughts, completely anonymously."
        </p>
      </div>
    </div>
    <div class="section"></div>
    <div class="section">
      <div>
        <img src="/images/reading.png" alt="view" />
      </div>
      <div>
        <h1>Start Your Journey with Us Explore & Connect with Blogs</h1>
        <p>
         "Dive into a world of diverse perspectives. Here, you'll find a community built on the power of words, not names.
          Read thought-provoking blogs, find stories you can relate to, and enjoy content that is raw, honest, and unfiltered.
           Connect with others through their shared experiences and discover new ideas from people who have chosen to speak their truth."
        </p>
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer.ejs")%>
